# Descarga del fichero

In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
% matplotlib inline

In [3]:
import os
import urllib.request

def dl_data(url, output):
    try:        
        f = urllib.request.urlopen(url)
        print ("Downloading " + url)

        os.makedirs(os.path.dirname(output), exist_ok=True)
        with open(output, "wb") as local_file:
            local_file.write(f.read())

    except URLError:
        print ("Error", url)

## Esto lo he comentado porque tarda mucho.

In [2]:
# ¡¡¡¡¡ COMENTADO PARA NO EJECUTAR SIN QUERER YA QUE TARDA MUCHO !!!!!

#url = "https://data.seattle.gov/api/views/egc4-d24i/rows.csv?accessType=DOWNLOAD&bom=true&format=true"
#output1 = './data/Road_Weather_Information_Stations.csv'
#dl_data(url,output1)

In [25]:
df = pd.read_csv(os.path.join('./data/Road_Weather_Information_Stations.csv'))

In [26]:
df = df.drop(columns=['StationName','RecordId'])
df.head()

,StationLocation,DateTime,RoadSurfaceTemperature,AirTemperature
0,"(47.53918, -122.37658)",03/03/2014 12:42:00 PM,53.88,53.88
1,"(47.53918, -122.37658)",03/03/2014 12:43:00 PM,54.05,54.05
2,"(47.53918, -122.37658)",03/03/2014 12:44:00 PM,54.21,54.21
3,"(47.53918, -122.37658)",03/03/2014 12:45:00 PM,54.38,54.38
4,"(47.53918, -122.37658)",03/03/2014 12:46:00 PM,54.54,54.54

In [27]:
df = df[df['DateTime'].str.contains("/2016 ")]

In [28]:
df.head()

,StationLocation,DateTime,RoadSurfaceTemperature,AirTemperature
11165355,"(47.53918, -122.37658)",01/01/2016 12:00:00 AM,36.55,36.55
11165449,"(47.598438, -122.335612)",01/01/2016 12:00:00 AM,34.20,38.05
11165568,"(47.643174, -122.347278)",01/01/2016 12:00:00 AM,33.64,32.47
11165722,"(47.66127, -122.301929)",01/01/2016 12:00:00 AM,30.93,30.63
11165737,"(47.692098, -122.31765)",01/01/2016 12:00:00 AM,30.62,30.62

In [29]:
df.shape

(8144988, 4)

In [37]:
condition = df['DateTime'].str.contains(" 08:") \
| df['DateTime'].str.contains(" 09:") \
| df['DateTime'].str.contains(" 10:") \
| df['DateTime'].str.contains(" 11:") \
| df['DateTime'].str.contains(" 12:") \
| df['DateTime'].str.contains(" 13:") \
| df['DateTime'].str.contains(" 14:") \
| df['DateTime'].str.contains(" 15:") \
| df['DateTime'].str.contains(" 16:") \
| df['DateTime'].str.contains(" 17:") \
| df['DateTime'].str.contains(" 18:") \
| df['DateTime'].str.contains(" 19:") \
| df['DateTime'].str.contains(" 20:")

df= df[condition]

In [39]:
df.to_csv(os.path.join('./data/Road_Weather_Information_Stations_2016_08AM_20PM.csv'))

# Guardar 2016 de 08:00 a 20:00 FINAL

In [36]:
df = pd.read_csv(os.path.join('./data/Road_Weather_Information_Stations_2016_08AM_20PM.csv'))

In [37]:
df.head()

,Unnamed: 0,StationLocation,DateTime,RoadSurfaceTemperature,AirTemperature
0,11165355,"(47.53918, -122.37658)",01/01/2016 12:00:00 AM,36.55,36.55
1,11165449,"(47.598438, -122.335612)",01/01/2016 12:00:00 AM,34.20,38.05
2,11165568,"(47.643174, -122.347278)",01/01/2016 12:00:00 AM,33.64,32.47
3,11165722,"(47.66127, -122.301929)",01/01/2016 12:00:00 AM,30.93,30.63
4,11165737,"(47.692098, -122.31765)",01/01/2016 12:00:00 AM,30.62,30.62

In [38]:
df = df.drop(columns=['Unnamed: 0'])

In [39]:
df.head()

,StationLocation,DateTime,RoadSurfaceTemperature,AirTemperature
0,"(47.53918, -122.37658)",01/01/2016 12:00:00 AM,36.55,36.55
1,"(47.598438, -122.335612)",01/01/2016 12:00:00 AM,34.20,38.05
2,"(47.643174, -122.347278)",01/01/2016 12:00:00 AM,33.64,32.47
3,"(47.66127, -122.301929)",01/01/2016 12:00:00 AM,30.93,30.63
4,"(47.692098, -122.31765)",01/01/2016 12:00:00 AM,30.62,30.62

In [40]:
df1 = df[['StationLocation']]
df2 = df[['DateTime','RoadSurfaceTemperature', 'AirTemperature']]

In [41]:
df1 = df1['StationLocation'].str.strip('()')   \
                   .str.split(', ', expand=True)   \
                   .rename(columns={0:'latitude', 1:'longitude'}) 
df1.head()

    latitude    longitude
0   47.53918   -122.37658
1  47.598438  -122.335612
2  47.643174  -122.347278
3   47.66127  -122.301929
4  47.692098   -122.31765

In [42]:
dfpois = pd.concat([df1, df2], axis=1)
dfpois.head()

,latitude,longitude,DateTime,RoadSurfaceTemperature,AirTemperature
0,47.53918,-122.37658,01/01/2016 12:00:00 AM,36.55,36.55
1,47.598438,-122.335612,01/01/2016 12:00:00 AM,34.20,38.05
2,47.643174,-122.347278,01/01/2016 12:00:00 AM,33.64,32.47
3,47.66127,-122.301929,01/01/2016 12:00:00 AM,30.93,30.63
4,47.692098,-122.31765,01/01/2016 12:00:00 AM,30.62,30.62

In [43]:
#(Fahrenheit - 32) * 5.0/9.0

dfpois.RoadSurfaceTemperature = (dfpois.RoadSurfaceTemperature - 32) * 5.0/9.0
dfpois.AirTemperature = (dfpois.AirTemperature - 32) * 5.0/9.0

dfpois.head()

,latitude,longitude,DateTime,RoadSurfaceTemperature,AirTemperature
0,47.53918,-122.37658,01/01/2016 12:00:00 AM,2.527778,2.527778
1,47.598438,-122.335612,01/01/2016 12:00:00 AM,1.222222,3.361111
2,47.643174,-122.347278,01/01/2016 12:00:00 AM,0.911111,0.261111
3,47.66127,-122.301929,01/01/2016 12:00:00 AM,-0.594444,-0.761111
4,47.692098,-122.31765,01/01/2016 12:00:00 AM,-0.766667,-0.766667

In [ ]:
dfpois.DateTime = pd.to_datetime(dfpois.DateTime)

In [ ]:
dfpois.head()

In [ ]:
dfpois.to_csv(os.path.join('./data/Road_Weather_Information_Stations_2016_08AM_20PM_FINAL.csv'))